using OpenGameFramework.DI;

namespace OpenGameFramework.API
{
    public partial interface API
    {
        public partial interface System
        {
            public interface I{0} : IServiceDi {};
        }
    }
}